.large-section {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping for responsiveness */
    gap: 20px; /* Adds space between containers */
    justify-content: space-between; /* Ensures spacing */
    align-items: stretch; /* Prevents squashing */
  }
  
  
  .large-container {
    width: 48%; /* Ensures two items fit per row */
    max-width: 48%;
    display: flex;
    flex-direction: column; /* Ensures content inside stacks properly */
    padding: 10px;
  }
  
  
  
  .slick-prev:before,
  .slick-next:before {
      color: black !important;
  }
  
  .news .normal-section {
      width: 80%;
      margin: auto;
  }
  
  @media (max-width: 768px) {
    .large .container {
        flex: 1 1 100%; /* Makes them full-width on smaller screens */
        max-width: 100%;
    }
  }
  